@model IEnumerable<MyWallet.Models.MonthlyBudget>

@{
    ViewData["Title"] = "Monthly Budgets";
}

<h1>Monthly Budgets</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Budget</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.YearNum</td>
            <td>@item.MonthNum</td>
            <td>@String.Format("{0:C}", item.BudgetAmount)</td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MonthlyBudgetId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.MonthlyBudgetId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MonthlyBudgetId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
